blockquote ul {
    list-style:disc;
    margin:4px 40px;
}

blockquote ol {
    list-style:decimal;
    margin:4px 40px;
}

.block.padded.ch_box {
    padding: 10px !important;
}

.block.padded.ch_vpadding {
    padding: 10px 0 !important;
}

.card-button {
    margin: 0 5px;
    font-size: 200%;
}

/* SD WebUI has not line height limit for model names.
 * This can result in the model name filling the entire card,
 * hiding our buttons. This is honestly a WebUI issue more
 * than an issue on this end, but we can fix it anyways, so
 * why not?
 */
.extra-network-cards .card .name:not(:hover) {
    display: block;
    overflow: hidden;
    max-height: 3em;
}

.extra-network-thumbs .card-button {
    font-size: 100%;
    display: inline;
    position: static;
    background-image: none;
    background: rgba(0, 0, 0, 0.8);
}
