blockquote ul {
    list-style:disc;
    margin:4px 40px;
}

blockquote ol {
    list-style:decimal;
    margin:4px 40px;
}

.block.padded.ch_box {
    padding: 10px !important;
}

.block.padded.ch_vpadding {
    padding: 10px 0 !important;
}

.card-button {
    margin: 0px 2px;
    padding: 2px;
    font-size: 150%;
}

/* SD WebUI has not line height limit for model names.
 * This can result in the model name filling the entire card,
 * hiding our buttons. This is honestly a WebUI issue more
 * than an issue on this end, but we can fix it anyways, so
 * why not?
 */
.extra-network-cards .card .name:not(:hover) {
    display: block;
    overflow: hidden;
    max-height: 3em;
}

.extra-network-thumbs .card-button {
    font-size: 100%;
    display: inline;
    position: static;
    background-image: none;
    background: rgba(0, 0, 0, 0.8);
}

.duplicate_model {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#ch_path_el {
    position: fixed;
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
    background: var(--input-background-fill);
    padding: var(--input-padding);
    color: var(--body-text-color);
    font-weight: var(--input-text-weight);
    font-size: var(--input-text-size);
    line-height: var(--line-sm);
    box-shadow: var(--input-shadow);
    font-family:var(--font);
}

/* Lobe theme */
.actions .additional > a {
    display: none;
}

/*
 * Gross, ugly, and I hate it, but the only way to override an
 * !important is with a more granular !important.
 */
.acss-culdhq .extra-networks .actions .additional > ul a.card-button {
    margin: 0px 2px !important;
    padding: 2px !important;
    font-size: 150% !important;
}

/* Work around a display bug in Lobe that causes lowers opacity to 0.2 */
#txt2img_extra_tabs [style*="_cards_html"] .pending,
#img2img_extra_tabs [style*="_cards_html"] .pending {
    opacity: 1;
}

/* Work around a display bug in Lobe that causes an infinite counter */
#txt2img_extra_tabs [id*="_cards_html"] .progress-text ,
#img2img_extra_tabs [id*="_cards_html"] .progress-text  {
    display: none;
}

/* end of Lobe theme */
