blockquote ul {
    list-style:disc;
    margin:4px 40px;
}

blockquote ol {
    list-style:decimal;
    margin: 4px 40px;
}

.block.padded.ch_box {
    padding: 10px !important;
}

.block.padded.ch_vpadding {
    padding: 10px 0 !important;
}

#tab_civitai_helper .ch_vmargin {
    margin-top: 10px;
    margin-bottom: 10px;
}

#tab_civitai_helper .extra-network-cards {
    min-height: 0;
    max-height: 50vh;
}

.card-button {
    margin: 0px 2px;
    padding: 2px;
    font-size: 150%;
}

#tab_civitai_helper .justify-bottom {
    justify-content: flex-end;
}

#tab_civitai_helper .ch_grid div {
    flex-basis: 30%;
}

#tab_civitai_helper .flex-center {
    justify-content: center;
    align-content: center;
}
@media only screen and (min-width: 600px) {
    #ch_dl_preview_img {
        max-width: 512px;
        min-width: 512px;
        max-height: 768px;
    }
}

/* SD WebUI has not line height limit for model names.
 * This can result in the model name filling the entire card,
 * hiding our buttons. This is honestly a WebUI issue more
 * than an issue on this end, but we can fix it anyways, so
 * why not?
 */
.extra-network-cards .card .name:not(:hover) {
    display: block;
    overflow: hidden;
    max-height: 3em;
}

.extra-network-thumbs .card-button {
    font-size: 100%;
    display: inline;
    position: static;
    background-image: none;
    background: rgba(0, 0, 0, 0.8);
}

.duplicate_model {
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 10px;
}

#ch_path_el {
    position: fixed;
    border: var(--input-border-width) solid var(--input-border-color);
    border-radius: var(--input-radius);
    background: var(--input-background-fill);
    padding: var(--input-padding);
    color: var(--body-text-color);
    font-weight: var(--input-text-weight);
    font-size: var(--input-text-size);
    line-height: var(--line-sm);
    box-shadow: var(--input-shadow);
    font-family:var(--font);
    pointer-events: none;
}

/* Lobe theme */
.actions .additional > a {
    display: none;
}

/*
 * Gross, ugly, and I hate it, but the only way to override an
 * !important is with a more granular !important.
 */
.acss-culdhq .extra-networks .actions .additional > ul a.card-button {
    margin: 0px 2px !important;
    padding: 2px !important;
    font-size: 150% !important;
}

/* Work around a display bug in Lobe that causes lowers opacity to 0.2 */
#txt2img_extra_tabs [style*="_cards_html"] .pending,
#img2img_extra_tabs [style*="_cards_html"] .pending {
    opacity: 1;
}

/* Work around a display bug in Lobe that causes an infinite counter */
#txt2img_extra_tabs [id*="_cards_html"] .progress-text ,
#img2img_extra_tabs [id*="_cards_html"] .progress-text  {
    display: none;
}

/* end of Lobe theme */

/* Civitai Helper Browser */
/* Perhaps figure out a less hacky way to write this... */
#ch_search .cards_container {
    grid-template-columns: 340px;
}
@media screen and (min-width: 800px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px;
    }
}
@media screen and (min-width: 1200px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px;
    }
}
@media screen and (min-width: 1400px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 2000px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 2400px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 2800px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 3200px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 3800px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px 340px 340px;
    }
}
@media screen and (min-width: 4200px) {
    #ch_search .cards_container {
        grid-template-columns: 340px 340px 340px 340px 340px 340px 340px 340px 340px 340px;
    }
}
#ch_search {
    & .cards_container {
        display: grid;
        grid-template-rows: auto;
        margin: 10px auto;
        box-spacing: 20px;
        width: fit-content;
    }
    & .body_container {
        display: block;
    }
    & .desktop .search_container {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        z-index: 100;
    }
    & .search_container {
        background-color: rgba(0,0,0,0.6);
    }
    & .model_card {
        position: relative;
        text-align: left;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 2px solid black;
        margin: 10px;
        font-size: 3em;
    }
    & .description {
        transition: height ease-in-out .3s;
        overflow: hidden;
        width: 320px;
        height: 0px;
        box-sizing: border-box;
        pointer-events: none;
        position: absolute;
        background-color: #000;
        font-size: 12pt;
        z-index:10;
        left: 0px;
    }
    & div:hover > .description {
        height: 480px;
        overflow-y: scroll;
    }
    & .description .text {
        padding: 10px;
        width: 320px;
        overflow: hidden;
    }
    & .error {
        margin: 3em;
    }
    & .preview {
        width:320px;
        height:480px;
        overflow: hidden;
        float: left;
        position: relative;
    }
    & .preview_container {
        width:320px;
        height:480px;
        position: relative;
    }
    & .preview_container img,
    .preview_container video {
        position: absolute;
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center center;
    }

    & .title {
        position: absolute;
        bottom: 0;
        text-align: center;
        background-color: rgba(0,0,0,.5);
        font-size: 20pt;
        width: 100%;
        max-height: 3em;
        overflow: hidden;
        z-index: 2;
        pointer-events: none;
    }
    & .ux {
        position: absolute;
        top: 0;
        right: 0;
        box-sizing: border-box;
        text-shadow: 2px 2px 6px #000;
        z-index: 11;
        padding: 5px;
    }
    & .model_meta {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        box-sizing: border-box;
        text-shadow: 2px 2px 6px #000;
        font-weight: bold;
        font-size: 16pt;
        background: rgba(0,0,0,0.6);
        z-index: 8;
        padding: 5px;
        vertical-align: top;
        pointer-events: none;
    }
    & .model_base {
        font-family: monospace;
        font-size: 50%;
        vertical-align: super;
        line-height: normal;
    }
    /*
    html {
        background-color: #0b0f19;
        color: #fff;
    }
    body {
        font-family: sans-serif;
        text-align: center;
    }
    body.desktop {
        padding-top: 3.6em;
    }
    */
    & a {
        /* color: #ddd; */
        font-weight: bold;
        text-decoration: none;
    }
    & .ux a {
        display: block;
        float: right;
        font-size: 18pt;
        height: 1.5em;
        width: 1.5em;
    }
    & span.button {
        cursor: pointer;
        display: inline-block;
        background-color: #111;
        border-radius: 3px;
        border: #4568E6 solid 1px;
        padding: 1px 4px;
        margin: 1px 3px;
        color: #000;
        background-color: #99aaff;
        opacity: 0.75;
    }
    & input:checked + span.button {
        background-color: #3457D5;
        color: #fff;
        font-weight: bold;
        opacity: 1;
    }
    & label.checkbox input[type=checkbox] {
        display: none;
    }
    & .ch_active_card {
        outline: 2px gold solid;
    }
}
#ch_model_search_results {
    max-height: 85vh; /* maybe try to figure out a way to fill the whole screen unless it's under a certain resolution? */
    overflow: scroll;
}
/* End of Civitai Helper Browser */
