<div class="model_card">
    <div class="preview">
        <a href="${url}" target="_blank">
            <div class="preview_container">
                ${preview}
            </div>
        </a>
        <div class="title">
            ${name}
        </div>
        <div class="ux">
            <a href="" onclick="ch_downloader(event, ${model_id})">💾</a>
        </div>
        <div class="model_meta">
            <span>
                ${type}
            </span>
            <span class="model_base">
                ${base_models}
            </span>
        </div>
    </div>
    <div class="description">
        <div class="text">
            ${description}
        </div>
    </div>
</div>
